* text=auto
eol=lf

# Ensure PNG files are always treated as binary and never modified by Git
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.mp3 binary
*.mp4 binary
*.zip binary
*.tar binary
*.gz binary
